export(beeswarm, bxplot, swarmx, swarmy)

S3method(beeswarm, default)
S3method(beeswarm, formula)
S3method(bxplot, default)
S3method(bxplot, formula)

importFrom("grDevices", "extendrange", "xy.coords")
importFrom("graphics", "axis", "box", "boxplot", "par", "plot", "points", "segments", "xinch", "yinch")
importFrom("stats", "approx", "density", "na.omit", "quantile", "runif")
importFrom("utils", "head", "tail")

useDynLib(beeswarm, .registration = TRUE, .fixes = "C_")
